@use './design-system';

*,
*::before,
*::after {
    margin: 0;
}

body {
    height: 100dvh;

    font-family: var(--text-body-family);
    font-size: var(--text-body-size);
    line-height: var(--text-body-line-height);
    color: var(--color-text);

    background-color: var(--color-background);

    -webkit-font-smoothing: antialiased;
}
