.idea/*
!.idea/jsLinters/
!.idea/runConfigurations/
!.idea/stylesheetLinters/
!.idea/prettier.xml

.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/mcp.json
!.vscode/tasks.json

.angular/
dist/

.vitest/
coverage/

node_modules/

.ssl/*
!.ssl/.gitkeep
