*

!*/

!*.json
!*.yaml
!*.yml
!*.html
!*.scss
!*.css
!*.[cm][jt]s
!*.[jt]s

node_modules/
pnpm-lock.yaml

.idea/

.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/mcp.json
!.vscode/tasks.json

.angular/
dist/

.vitest/
coverage/
