*

!*/

!*.yml
!*.yaml
!*.json
!*.[cm][tj]s
!*.[tj]s
!*.html
!*.scss
!*.css

.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

node_modules/
pnpm-lock.yaml

.angular/
dist/

coverage/
reports/
